body {
  margin: 0;
  background-color: white;
  display: flex;
  min-height: 100vh;
}



h1{
  color: blue;
}
.App {
    text-align: center;
  }


.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; 
  top: 0; 
  width: 100%; 
}
.navbar a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 28px times;
  font-weight: bold;
  color: blue;
  margin-left: 0.5em;
}

.navbar a.split {
  float: left;
  font: 38px bold Hatfielin;
  font-weight: bold;
  color:blue;
}
button {
  border: 0;
  color:blue;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.8em 1.2em;
  font-size: 1.1rem;
}

  .signup-page {
    background-color: lightgrey;
     color: black;
    width: 300px;
    border: 15px solid;
    padding: 100px;
    margin: 100px;
  }
