@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  background-color: white;
  display: flex;
  min-height: 100vh;
}



h1{
  color: blue;
}
.App {
    text-align: center;
  }


.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; 
  top: 0; 
  width: 100%; 
}
.navbar a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 28px times;
  font-weight: bold;
  color: blue;
  margin-left: 0.5em;
}

.navbar a.split {
  float: left;
  font: 38px bold Hatfielin;
  font-weight: bold;
  color:blue;
}

.signup-page{
 display: flex;
}

.inside-box {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	height: 400px;
	width: 600px;
	margin: auto 0;
	border-radius: 20px;
	text-align: center;
	justify-content: center;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  } 


form{
  width: 300px;
  height:300px;
  padding: 10px;
  /* border-radius: 10px; */
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  margin-left:  auto;
  margin-right:  auto;
  position: absolute;
  top: 200px;
  left:200px;
}

.input-wrapper {
  width: 60%;
  margin: 0;
  padding: 0;
}

.input-wrapper input {
  padding: 0.6em 1.2em;
  margin: 0.5em auto;
  width: 100%;
  border-color: var(--primary-bg);
  font-size: 1.1rem;
  outline: none;
}
