@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');






:root {
  --primary-bg: hsl(223, 18%, 92%); 
  --link-color-primary: #1222d7;
  --secondary-bg: #9da3c2;
  --link-color-secondary: white ;
  --primary-button-hover: #140d9e;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  /* var(--secondary-bg); */
}

button {
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.8em 1.2em;
  font-size: 1.1rem;
}

button,
input {
  border-radius: 8px;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--primary-bg); */
}

.logo,
.logo-wrapper {
  height: 3.5em;
}


nav a,
nav h3 {
  /* text-decoration-color: var(--primary-bg); */
  margin: auto 1em;
  /* color: var(--link-color-primary); */
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
  /* color:'white' */
}

nav a:hover {
  color: var(--link-color-secondary); 
  text-decoration-color: var(--link-color-primary);

}
main {
  min-height: calc(100vh - 4em);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container,
.signin {
  min-height: calc(100vh - 4em);
  align-items: center;
  justify-content: center;
}

.home-container img {
  max-width: 80%;
  margin: 0 auto;
}

.home-container button {
  padding: 0.8em 1.2em;
  /* background-color: var(--primary-bg); */
  /* color: var(--link-color-secondary); */
  font-size: 1.1rem;
}

/* .home-container button:hover {
  transform: scale(1.1);
  background-color: var(--primary-button-hover);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
} */



form,
.input-wrapper {
  margin: auto;
  width: 80%;
}

form label {
  align-self: flex-start;
}

.input-wrapper {
  width: 80%;
  margin: 0;
  padding: 0;
}

.input-wrapper input {
  padding: 0.6em 1.2em;
  margin: 0.5em auto;
  width: 100%;
  border-color: var(--primary-bg);
  font-size: 1.1rem;
  outline: none;
}

input::placeholder {
  opacity: 0.7;
}

form button {
  /* background-color: var(--primary-button-hover);
  margin: 1em 0;
  color: var(--link-color-secondary);
  align-self: center;
  width: 100px;
  height: 50px;
  padding: auto;
  color:white; */
  background-color: blue; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

form button:hover {
  opacity: 0.7;
}

form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}



.card {
  width: 350px;
  height: 550px;
  background-color: var(--primary-bg);
  color: var(--secondary-bg);
  border-radius: 8px;
  padding: 1em;
  text-align: center;
}

.protected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.step-table {
  width: 80%;
    height: 50vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

table {
  border: 2px solid blue;
  width: 600px;
  height: 50px;


}

th {
  border-bottom: 1px solid rgb(20, 61, 193);
  background-color:blue;
  color:white;
}

td {
  text-align: center;
}
tr:hover {background-color: #57a3dd;}

.delete-button {
  width:40%;
  background-color: blue; 
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.edit-button {
  width:40%;
  background-color: blue; 
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.container {
  padding: 64px;
  text-align:center;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}


